/* <<<<<<< Shopping wizard | Stylesheet >>>>>>> */

/* General variables */
:root{
    --dark-green: #00d5c2;
    --light-green: #dcf1eb;
    --dark-red: #d22b41;
    --ligh-red: #f3d8da;
    --padding-sides: 55px;
    --font: 'Commissioner', sans-serif;
}


/* General styling */
*{
    padding: 0;
    margin: 0;
    border: black 1px solid;
}


/* Body */
body{
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Header */
#header{
    font-size: 66px;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-green);
    padding-left: var(--padding-sides);
    padding-right: var(--padding-sides);
}

/* Logotype */
#header-logotype{
    display:flex;
}

#header1{
    font-weight: bolder;
}

#header2{
    font-weight: lighter;
}

/* Pop-up remaining time window */
#time-window{
    border: 2px solid var(--dark-green);
    background-color: var(--light-green);
    height: 60px;
    width: 330px;
    padding: 10px 15px 5px 15px;
    display: flex;
    align-items: flex-start; /* Stack elements at top of pop-up window */
}

/* Pop-up text */
#time-text{
    flex-grow:1;
}

/* Subtext showing remaining minutes */
#minutes-left{
    font-weight: 200;
}

/* Closing cross */
#time-cross{
    font-size: 20px;
    width: 20px;
    text-align: center;
}


/* Changing div */
main{
    flex-grow: 1;
    background-color: var(--ligh-red);
    padding: 30px var(--padding-sides) 30px var(--padding-sides); /* top right bottom left */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Left block */
#main-left{
    background-color: var(--dark-red);
    flex-grow: 1;
    height: inherit; /* Gets height from his parent (- paddings) */
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

#main-left-mp{
    background-color: var(--dark-red);
    flex-basis: 50%;
    height: inherit; /* Gets height from his parent (- paddings) */
    margin-right: 10px;
    display: flex;
    flex-direction: row;
   
}

.picture-box{
border: black 2px solid;
background-color: #00d5c2;
flex-grow: 1;
}
.gallery-box{
display: flex;
flex-direction: column;
width: 120px;
background-color:lightsalmon;

}
.photo-gallery{
    width: 50px;
    height: 80px;
    border: black 2px solid;
    margin-bottom: 10px;
}

    

#timeline{
    height: 100px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 0, 0.235); /* Comment this to hide block background */
}

#summary{
    flex-grow: 1;
    background-color: rgba(255, 255, 0, 0.235); /* Comment this to hide block background */
}

/* Right block */
#main-right{
     /* background-color: var(--dark-red); */
     display: flex;
    flex-basis: 50%;
    height: inherit; /* Gets height from his parent (- paddings) */
    margin-left: 10px;
   
}

#parent-plants {
    flex-grow: 1;
    /* width: 80%; */
    background-color: yellow;
    
}


#parent-plants div  {
    display: flex;
    flex-direction: row;
    color: #00d5c2;
    margin-bottom: 20px;
}
.line-margin{
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: #00d5c2;
   

}

/* #plant-style {
height: 250px;
width:inherit ;
border:#00d5c2 2px solid;
border-left:transparent ;
border-right: transparent;


} */
.sub-section{
    display: flex;
    border: transparent;
}

#type-of-plant {
   
    height: 25%;
}

.section-title{
line-height: 24px;
margin-right: 20px;

}

#plant1,#plant2,#plant3,#plant4{
    flex: 1;
    flex-grow: 1;
    border: #00d5c2 2px solid;
    margin-left: 10px;
    
}

 #quantity-text  {
   
    display: flex;
   flex-direction: row;
}

#quantity-box{
   width: 30px;
   height: 20px;
   margin-left: 35px;
   border: transparent;
   background-color: #dcf1eb;
   color: #00d5c2; 
}

#plant-base {
    flex: 1;
    height: 100px;
    width:inherit;
   
    flex-direction: row;
}

#base-box1{
    flex: 1;
    display: flex;
}

#checkbox1,#checkbox2{
    flex: 2;
    margin-top: 20px;
}


#plant-textarea{
    display: flex;
    flex-direction: row;
    height: 250px;
    width:inherit   

}
#text-box1{
    /* border: black 2px solid; */
}
#text-box2{
    /* border: black 2px solid; */
  
}
#text-box3{
    border: black 2px solid;
   
}
#text-textarea{
    
}

#price-box{
    
    flex-basis: 30%;
    background-color: lightcoral;
    margin-left: 20px;
    
}



/* Footer */
#footer{
    height: 8%;
    background-color: #00d5c2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-sides);
    padding-right:var(--padding-sides);
}

#footer-left{
    color: white;
}

#footer-right{
    color: var(--light-green);
    font-weight: lighter
}


/* Typeface styling */
h1{
    font-size: 40px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}


/* Animations */